<!DOCTYPE html>
<html>

<head profile="https://www.pe.com">
    <!-- Tab Title -->
    <title>Mongodb</title>
    <!-- Favicon -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="icon" type="image/png" href="https://img.icons8.com/ios/50/000000/news.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <!-- Materialize - Icons -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/public/style.css" />
</head>

<body>
    {{{body}}}
</body>

</html>